@model ApartmentWebTemp.Models.UnitLease

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UnitLease</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitFloor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitFloor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyRent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaseStarting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaseStarting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaseEnding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaseEnding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
